.a{
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.a-left{
    flex: .8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-right{
    flex: 1;
}

.a-card.bg{
    position: absolute;
    top: 50px;
    left: 20px;
    /* background-color: #675c5c; */
}

.a-card{
    width: 80%;
    height: 90vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-award-img{
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.a-title{
    font-weight: 400;
}

.a-sub{
    margin: 20px 0px;
}

/* Add these styles to your existing CSS file or style tag */

.a-desc {
    font-size: 16px; /* Default font size */
    line-height: 1.5; /* Default line height */
}


.a-award{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.a-award-text{
    width: 78%;
}

.a-award-title{
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

@media screen and (max-width: 480px){
    .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .a-left{
        width: 100%;
    }

    .a-card{
        height: 35vh;
        width: 70%;
    }

    .a-card.bg, .a-award{
        display: none;
    }
    
    .a-right{
        padding: 20px;
    }
    .a-desc {
        font-size: 14px; /* Adjust font size for smaller screens */
        line-height: 1.3; /* Adjust line height for smaller screens */
    }
}