.strip{
    width: 100%;
    height: 20vh;
    background-color: #59b256;
}

.copy{
    display: flex;
    justify-content: center; 
    font-weight: 300;
    color: rgb(40, 37, 37);
    padding-top: 4vh;
   }
.name{
    display: flex;
    justify-content: center;
}

.link{
    text-decoration: none;
}